{% extends "base.html" %}

<script>
{% block jquery %}
$(".update-qty").click(function(event){
    // $(this).next(".btn-update").fadeIn();

    // event.preventDefault();
    // .prev(h1)
    event.preventDefault();
    //alert('prevented');
    var item = $(this).prev().prev().val();
    var qty = $(this).prev().val()
    var data = {
        item: item,
        qty: qty
    }
    //console.log(data);
    $.ajax({
        type: "GET", // "POST"
        url: "{% url 'cart' %}",
        data: data,
        success: function(data) {
            console.log(data)
            //$("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted)
            $("#jquery-message").text("Cart Updated")
            if (data.deleted){
                $("#item-"+item).fadeOut();
            } else {
                $("#item-line-total-"+item).text(data.line_total);
                $("#subtotal").text(data.subtotal);
            }
        }, 
        error: function(response, error) {
            // console.log(response)
            // console.log(error)
            $("#add-form").submit()
        }
    })





});

{% endblock %}
</script>


{% block content %}
<br>

            <div class='row'>
                 <div class='col-sm-3 lead text-align-left' >
                 <h1>Cart Details</h1>
                 <hr/>
              <br/>
               <h3 style="text-align:left">Customer Name :</h3>
               <h3 style="text-align:left">Mobile Number :</h3>
                </div>
                <div class='col-sm-7'>
                {% include 'material_list.html' %}
            </div>
        </div>
       
<br>

<br>
<br>
<h3 id='jquery-message'></h3>
{% if object.cartitem_set.count < 1 %}
    <h2> No items Selected Yet!</h2>
            {% else %}
    </h2>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-9 col-md-10 ">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center"><h4><strong>Product</strong></h4></th>
                        <th class="text-center"><h4><strong>Quantity</strong></h4></th>
                        <th class="text-center"><h4><strong>Price</strong></h4></th>
                        <th class="text-center"><h4><strong>Total</strong></h4></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in object.cartitem_set.all %}
                        <form action="." method="GET">
                            <tr id='item-{{ item.item.id }}'>
                                <td class="col-sm-5 col-md-5">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#"> {% if item.item.image %}
                                                                            <img src='{{item.item.image.url}}' style="align:middle"height="70" width="70"/>
                                                                            {% else %}
                                                                                    <img class="media-object"
                                                                                      src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                                                                                      style="width: 72px; height: 72px;">
                                                                            {% endif %}
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading" style="margin-left:15px;margin-top:20px"><a href="{{item.item.get_absolute_url}}">{{ item.item.get_title }}</a></h4>
                                            <!--<h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                            <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3 weeks</strong></span>-->
                                            <span style="margin-left:15px;margin-top:20px">Status: </span><span class="text-success" ><strong>In
                                            Stock</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-1" style="text-align: center;margin-left:15px;margin-top:20px">
                                    <form action="." method="GET">
                                    <input type="hidden" name="item" value="{{ item.item.product_id}}">
                                    <input type="number" class="form-control" name="qty" value='{{ item.quantity }}'/>
                                    <input type="submit" class="btn btn-info btn pull-right update-qty" style="margin-top:10px" value=" Update">
                                </td>
                                <td class="col-md-2 col-md-offset-1 text-center"><strong>${{ item.itemPrice }}</strong></td>
                                <td id='item-line-total-{{ item.item.product_id }}' class="col-md-1 text-center" ><strong>{{ item.line_item_total }}</strong></td>
                                <td class="col-md-1">
                                    <div class="media">
                                        

                                        <div class="col-md-offset-1">
                                            <br/>
                                            <br/>
                                            <a href='{{ item.remove }}'>
                                                <button type="button" class="btn btn-danger btn pull-right" style="margin-left:15px;margin-top:10px">
                                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                                </button>
                                            </a>
                                            <br/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </form>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h5>Subtotal</h5></td>
                        <td id='subtotal' class="text-right"><h5><strong>{{object.subtotal}}</strong></h5></td>
                    </tr>
                    <tr>
                        
                      <td></td>
                        <td></td>
                        <td></td>
                        <td>
                           <br>
                           <br>
                           <a href="{% url 'product_list' %}">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                            </a>
                        </td>
                        <td>
                            <br>
                            <br>
                                <button type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}

