{% extends "base.html" %}



{% block content %}
 {% if request.user.is_authenticated %}
<h1>Cart</h1>
<hr/>
<br>
<br>
{% if object.cartitem_set.count < 1 %}
<h2> No items Present</h2)>
{% else %}
<table class='table'> 
<tr>
	<th class='lead'>Product Name</th>
	<th class='lead'>Quantity</th>
	<th class='lead'>Total Amount </th>
</tr>
{% for item in object.cartitem_set.all %}

<tr>
<td>{{ item.item.get_title }}</td>
<td> {{ item.quantity }}</td>
<td> {{ item.line_total }}</td>
<td class='text-right' ><a href='{{ item.remove }}'>X</a></td>
</tr>

{% endfor %}


</table>
{% endif %}
{% else %}
<h3> Please login first </h3>

{% endif %}
{% endblock %}
