{% extends "base.html" %}

{% block content %}
 {% if request.user.is_authenticated %}

{% if object_list %}

<br/>
<h3> The Products available are: </h3>

<br/>
<br/>
<table class='table table-striped'>
{% for object in object_list %}
<tr>
	<td><a class='lead text-align-center' href="{{object.get_absolute_url}}">{{object.product_name}}</a></td>
	{% if object.image %}
	<td><img src='{{object.image.url}}' height="70" width="70" /></td>
	{% endif %}
</tr>
{% endfor %}
</table>
{% else %}
<h3> The Search didn't return any match </h3>
{% endif %}

{% else %}

<h3> Please login first </h3>
{% endif %}
{% endblock %}



