<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}


{% block jumbo %}
    {% comment %}<div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <!--<a href="{% url 'homepage' %}"><img src="{% static 'img/Jewellery.jpg' %} " class="img-responsive" /></a>-->
        </div>
    </div>{% endcomment %}

    {% if request.user.is_authenticated %}
        <div class='row'>
            <span class='col-md-10'><h3> Welcome, <b>{{ request.user }}</b></h3></span>
            <span class='col-md-2'><button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                           data-target="#customerModal">Enter Customer Details
            </button></span>
            {% include '/home/yunuj/JewellyApp--1.9/Customer/templates/customer_modal.html' %}
        </div>
        {% include "carousel.html" %}
    {% else %}
        <h3> Please login First!! </h3>
    {% endif %}
{% endblock %}