{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}



{% block head_title %} 
Welcome |{{block.super}} 
{% endblock %}

<style>
    {% block style %}
    
    {% endblock %}
    </style>

{% block jumbo_content %}
<div class="row">

	<div class="col-xs-8">
<div class="jumbotron">
		{% if request.user.is_staff %}
		<h1>Welcome Admin : {{ request.user }} </h1>
        <p>Please click on the followin link to update the database if needed. </p>
		<p class="lead text-align-center"><a class="btn btn-lg btn-primary" href="http://127.0.0.1:8000/admin/" role="button">Database</a></p>
	
		{% else %}
        <h1>Welcome {{ request.user }} </h1>
        <h4> Do a barcode search below: </h4>
        <form method="POST" action="{% url 'productSearch' %}"> {% csrf_token %}
			{{search_form|crispy}}

			<input type="submit" value="Search Product" name="btn btn-lg btn-primary"/>

			<br/>

			{% if product_name %}
			<br/>
			<br/>
			<h3>Product is {{product_name}}<h3>
				We can add links or add to cart Details here.
			{% endif %}
			</form>
       {% endif %}
  </div>
</div>
<div class="col-sm-4" style="background-color:white;height:300px;">
	<img src="{% static 'img/Jewellery.jpg' %}" class="img-responsive" />
	</div>
</div>
   {% endblock %}

{% block content %}
<div class="row">
	
  <div class="col-xs-3 pull-right">
	<p class="lead text-align-center">	Link to and another Section Here.</p>
</div>  
  <div class="col-sm-3" >
	  {% if request.user.is_staff %}
		<p class="lead text-align-center"><a class="btn btn-lg btn-primary" href="{% url 'activate' %}" role="button">Activate an account</a></p>
		{% else %} 
  	<p class="lead text-align-center"><a class="btn btn-lg btn-primary" href="{% url 'productAdd' %}" role="button">Add Product</a></p>
  	{% endif %}
	</div>
	<div class="col-sm-3" >
		<p class="lead text-align-center">	Link to another Section Here.</p>
	</div>
	
	<div class="col-sm-3" >
		<p class="lead text-align-center">Link to Some Section Here.</p>

	</div>
	
 </div>
</div>
{% endblock %}




