{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block jumbo %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-1'>
	<!-- <div class='col-sm-7'> -->
	
	<form method="POST" action=""> {% csrf_token %}
	{{search_form|crispy}}

	<input type="submit" value="Search Product" name="btn btn-lg btn-primary"/>

	<br/>

	{% if product_name %}
	<br/>
	<br/>
	<hr/>
	<h3>Product is <a href="{{product_name.get_absolute_url}} ">{{product_name}}</a></h3>
		<br/>
		{% if product_name.image %}
		<img src='{{product_name.image.url}}'/>
		{% endif %}
		<!-- <p>{{ product_data }}</p> -->
		<p>Material: {{ product_data.material }}</p>
		<p>Category: {{ product_data.category }}</p>
		<p>Sub-Category: {{ product_data.sub_category }}</p>
		{% if product_data.stone_details %}
			<p>Stone Price Breakdown</p>
			<table class="table table-striped">
			<tr>
				<td>Stone Type</td>
				<td>Price per carat</td>
				<td>weight</td>
				<td>Quantity</td>
				<td>Stone Price</td>
			</tr>
			{% for stone in product_data.stone_details %}
			<tr>
				
				<td>{{ stone.stone_type.Stone.name }}</td>
				<td>{{ stone.stone_type.Stone.rate_per_carat }}</td>
				<td>{{ stone.stone_type.weight }}</td>
				<td>{{ stone.quantity }}</td>
				{% for item in product_data.stone_price %}
					{% if forloop.parentloop.counter == forloop.counter %}
       					<td>{{ item }}</td>
    				{% endif %}

				{% endfor %}
				
				
			</tr>
			
			{% endfor %}
			</table>
		{% endif %}
		<p>Product Weight: {{ product_data.weight}}</p>
		<p>Product Loss: {{ product_data.loss_value}}</p>
		<p>Total Price = (Weight - Loss) * Rate + stone Cost + Manufacturing Cost</p>
		<p>Total Price = ({{product_data.weight}} - {{product_data.loss_value}}) * {{ request.session.gold_price }} + {{ product_data.stone_sum}} + Manufacturing cost yet to be added</p>
		<p>Final Price = {{product_data.price}}
	</div>
	<div class='col-sm-3 col-sm-offset-2'>
		<h3><a href="{{product_name.add_to_cart}}"> &#09;Add to Cart</a></h3>
	{% else %}
	<br/>
	<h3> No matching product found </h3>
	{% endif %}
	</form>
</div>
</div>
{% endblock %}

